.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.accordian {
    width: 100%;
}

.item {
    background: black;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    max-width: 500px;
}

.content {
    color: white;
    height: auto;
    max-width: 500px;
}